.gear:hover {
    background-color: rgba(0, 0, 0, 0.15) !important;
}

.radius-10 {
    border-radius: 12px;
}

.hello {
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
}

.make-color1 {
    background: linear-gradient(217deg, rgba(89, 0, 255, 0.8), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(255, 0, 212, 0.8), rgba(0, 0, 255, 0) 70.71%);
}

.make-color2 {
    background: linear-gradient(131deg, rgba(221, 255, 2, 0.8), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(210deg, rgba(2, 255, 129, 0.8), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(255, 0, 0, 0.8), rgba(0, 0, 255, 0) 70.71%);
}

.left:hover .hover-background {
    background-color: rgba(0, 0, 0, 0.07);
}

.hover-background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    z-index: 1;
    border-radius: 12px;
}

.hide-important {
    display: none !important;
}

.file-input {
    position: relative;
    height: 100%;
    width: 100%;
}

.file-input span {
    position: relative;
    height: 100% !important;
    width: 100% !important;
}

.btn-file {
    z-index: 100;
    position: absolute;
    height: 330px;
    width: 225px;
    color: transparent;
    background-color: transparent;
    border: 0px;
}

.btn-file:hover {
    z-index: 100;
    position: absolute;
    height: 330px;
    width: 225px;
    color: transparent;
    background-color: transparent;
    border: 0px;
}

.make-modal {
    width: 100%;
    height: 70vh;
    background-color: rgb(22, 22, 22);
}

.border_modal {

    box-shadow: 0 0 15px rgba(25, 22, 22, 0.222) !important;
}

#content {
    width: 45%;
    height: 100%;
    position: relative;
    z-index: 2;
    background: linear-gradient(0deg, rgb(0, 0, 0), rgb(36, 36, 36));
}


.range_form {
    position: absolute;
    bottom: 10px;
    width: 47%;
    border-radius: 0;
}

.draggable {
    width: 100%;
    background-color: #3498db;
    color: #3d2020;
    text-align: center;
    line-height: 30px;
    cursor: move;
    position: relative;
    user-select: none;
}

.container-content {
    width: 100%;
    height: 92%;
    margin-top: 2%;
    background-color: rgba(0, 0, 0, 0.4)
}

.container-content-right {
    width: 100%;
    height: 92%;
}

.nav-bottom {
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    position: absolute;
    bottom: 90px;
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.112);
}

.flex-limit {
    display: flex;
    flex-wrap: wrap;
    max-width: 350px;
}

.flex-limit>div {
    width: 25px;
    height: 25px;
    background-color: #000;
    margin: 7px;
}

.bg-active {
    outline: 3px solid rgb(33, 43, 232);
}


#content-text {
    width: 45%;
    height: 100%;
    position: relative;
    z-index: 2;
    background: rgb(100, 107, 245);

}

#privacyModal {
    margin-top: 18vh;
    /* Set height to 100% of the viewport height */
}
.privacyModalMain{

    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);
    border: none;
}

.privacy-hover {
    border-radius: 7px;
    cursor: pointer;
}

.privacy-hover:hover {
    background-color: #e6e6e65c;
}
